<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
    <center>
        <div style=" background-color: #ea6b00; padding: 5px;color: 2a3f54;font-size: larger;width:1519.5px;">
            Welcome !! <a href="Login.php" style="color: rgb(235, 223, 223);"> Log In</a> To Our Website Get More Benifits For your Vehicle Services
        </div>    
    </center>
    
</body>
</html>