<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login_signup
    {
        border:2px solid;
        font-size:12px;
        color:white;
        background-color: #1900a7;  
    }
    .sl 
    {
        color:white;
        
        background-color: #137DC5; 
    }
    a
    {
        text-decoration: none;
    }
    </style>
</head>
<body style="font-family: Times New Roman;">
    <center>
        <div class="login_signup">
            <h2>Join Us !! Book Appoinment And Get More Benifits For Vehicle Servicies  
                <a href="SignUp.php" class="sl" style="margin-left:20px ;padding:10px; ">
                    Register Now
                </a>
                
            </h2>
        </div>
        </center>
</body>
</html>