<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Menu Bar</title>
    <style>

html, body
{
    margin: 0px;
}


div.container a
{
    color: #ea6b00;
    text-decoration: none;
    font: 20px ;
    margin: 0px 0px 0px 50px;
    position: relative;
}
div.container a:hover
{
    color: yellow;
}
.red
{
    background: #2a3f54;
}
    </style>
</head>
        
<body >
<nav style="background-color: #2a3f54; ">
        
        <table style="background-color: #2a3f54;width: 1519.5px;">
        
    <tr>
      <td>
  <img src="logog.PNG" alt="nop[" >
      </td>
      <td>
        <div class="container red topBotomBordersOut">
            <font size=4px>
            <a href="Welcome_user.php">The Company</a>
          <a href="Service.php">Servicies</a>
          <a href="BookAppoinment.php">Book Appoinment</a>
          <a href="Service_Calculator.php">Service Calculator</a>
          <a href="Accessories.php">Accessories</a>
          <a href="Packages.php">Packages</a>
          <a href="Profile.php"><i class="fa fa-user-circle" style="font-size:48px;color:white;"></i></a>
            </font>
        
      </div>
      </td>      
    </tr>
  
  </table>
        </nav>
</body>
</html>