<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Menu Bar</title>
    <style>

html, body
{
    margin: 0px;
}


div.container a
{
    color: #ea6b00;
    text-decoration: none;
    font: 20px ;
    margin: 0px 0px 0px 5px;
    position: relative;
}
div.container a:hover
{
    color: yellow;
}
.red
{
    background: #2a3f54;
}
    </style>
</head>
        
<body >
<nav style="background-color: #2a3f54; ">
        
        <table style="background-color: #2a3f54;width: 1519.5px;">
        
    <tr>
      <td>
  <img src="logog.png" alt="nop" >
      </td>
      <td>
        <div class="container red topBotomBordersOut">
          <font size=4px>
            <a href="Welcome_admin.php" class="x">Dashbroad</a>
          <a href="Service_Title_Detail.php">Service Title</a>

          <a href="Service Details.php">Servicies</a>
          <a href="_vehicaldetailscroll.php">Vehicle</a>
          <a href="Employee Details.php">Employee</a>
          <a href="ProductDetails.php">Product</a>
          <a href="_supplierdetails.php">Supplier</a>
          <a href="StockDetails.php">Stock</a>
          <a href="Appointment_Details.php">Appoinment</a>
          <a href="billname.php">View Bill</a>
          <a href="mail.php">Mail Templet</a>
          <a href="Invoice.php">Invoice</a>
          <a href="payment.php">Payments</a>
          <a href="ChatDetails.php">Chat</a>

            </font>
        
      </div>
      </td>      
    </tr>
  
  </table>
        </nav>
</body>
</html>