<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html, body
{
    margin: 0px;
}


div.container a
{
    color: #ea6b00;
    text-decoration: none;
    font: 20px ;
    margin: 0px 0px 0px 50px;
    position: relative;
}

.red
{
    background: #2a3f54;
}
    </style>
</head>
<body>
    <nav style="background-color: #2a3f54; ">
        
        <table style="background-color: #2a3f54;width: 1519.5px;">
        
    <tr>
      <td>
  <img src="logog.PNG" alt="nop[" >
      </td>
      <td>
        <div class="container red topBotomBordersOut">
            <font size=4.9px>
            <a href="Welcome_user.php">The Company</a>
          <a href="Service.php">Servicies</a>
          <a href="BookAppoinment.php">Book Appoinment</a>
          <a href="#help">Service Calculator</a>
          <a href="Accessories.php">Accessories</a>
          <a href="Packages.php">Packages</a>
          
            </font>
        
      </div>
      </td>      
    </tr>
  
  </table>
        </nav>

</body>
</html>